@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

body{
        color: aqua;
        font-style: bold;
        text-align: center;
        font-size: 30px;

}

img{ width: 50 px;
     }

